*{
    margin: 0;
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color: #267CB9;
}
p{
    margin: 0 0 20px;
}
h1{
    font-size: 28px;
    
}
body{
    margin: 8px;
    padding: 50px;
    color: #727272;
    font-weight: 400;
}
header{
    float: left;
    width: 270px;
    position: fixed;
}
.wrapper{
    width: 860px;
    margin: 0 auto;
}
section{
    width: 500px;
    float: right;
    padding-bottom: 50px;
}
a:hover{
    font-weight: 700;
}
a p:hover{
    color: #085083;
}
#portfolio{
    padding-bottom: 20px;
    color: #000;
}
hr{
    border: 0;
    background: #e5e5e5;
    height: 1px;
    margin: 0 0 20px;
}
h2,h3{
    padding-bottom: 20px;
}
.center img {
    width: 100%; /* Đảm bảo ảnh luôn chiếm toàn bộ không gian trong container */
        height: 100%;
        object-fit: cover; /* Đảm bảo ảnh không bị méo và được điều chỉnh kích thước sao cho vừa với container */
}